@use 'src/styles/vars.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  
  label {
    display: flex; 
    gap: 20px; 
    font-size: 18px;
    white-space: nowrap;

    .label {
      flex: 0 0 100px;
    }
  }

  input {
    height: 20px;
  }

  .save-button {
    margin: 10px auto;
    color: vars.$c-green;
    border-color: vars.$c-green;
  }
}
