<div class="form-wrapper">
  <form class="form" [formGroup]="todoForm">
    <div class="input-wrapper">
      <label>
        <span class="label with-tooltip tooltip-top">Todo<sup>*</sup>:</span>
        <input autocomplete="off" formControlName="todo">
      </label>
    </div>
    <div class="input-wrapper">
      <label>
        <span class="label with-tooltip tooltip-top">Assigned to<sup>*</sup>:</span>
        <input autocomplete="off" formControlName="username">
      </label>
    </div>
    <div class="input-wrapper">
      <label>
        <span class="label with-tooltip tooltip-top">Due date:</span>
        <input type="date" formControlName="dueDate">
      </label>
    </div>
    <div class="input-wrapper">
      <label>
        <span class="label">Done:</span>
        <input type="checkbox" formControlName="isDone">
      </label>
    </div>
    <div *ngIf="todo?.details" class="input-wrapper">
      <label>
        <span class="label">Attachment:</span>
        <textarea formControlName="details" rows="10"></textarea>
      </label>
    </div>
    <div class="input-wrapper">
      <label>
        <span class="label">{{ todo?.details ? 'Replace with file:' : 'Add txt attachment:' }}</span>
        <input #fileInput type="file" accept="text/plain" name="attachment">
      </label>
    </div>
    <button [disabled]="todoForm.invalid" class="button save-button" (click)="saveTodo()">Save Todo</button>
  </form>
</div>
