<ul class="todos-list">
  <li
    *ngFor="let todo of todos"
    [ngClass]="{ done: todo.isDone }"
    class="todo"
  >
    <a
      [routerLink]="['details/' + todo._id]"
      routerLinkActive="active"
      class="todo-link"
    >
      <div class="todo-data">
        <span class="description">
          <span *ngIf="todo.isDone">&#10004;</span>
          {{ todo.todo }}
        </span>
        <span
          *ngIf="todo.hasAttachment"
          (click)="goToEditTodo(todo._id)"
          class="file-link with-tooltip"
        >
          <img class="file-icon" src="/assets/paper-clip.svg"/>
        </span>
        <span class="info-row">
          <span class="label">Assigned to:</span>
          <span class="value">{{ todo.username }}</span>
        </span>
        <span class="info-row">
          <span class="label">Status:</span>
          <span class="value status" [ngClass]="{ green: todo.isDone }">
            {{ todo.isDone ? 'done' : 'pending' }}
          </span>
        </span>
      </div>
    </a>
    <div class="buttons">
      <button
        *ngIf="!todo.isDone"
        class="button done-marker with-tooltip"
        (click)="markAsDone(todo._id)"
      >
        <span>&#10004;</span>
      </button>
      <button class="button delete-button with-tooltip" (click)="deleteTodo(todo._id)">
        <img class="delete-icon" src="/assets/trash.svg"/>
      </button>
    </div>
  </li>
</ul>
