<div class="sorting">
  <p class="sorting-label">Sort by:</p>
  <div class="sorting-options">
    <button
      class="sorting-header"
      [ngClass]="{ active: activeSorting === SortableKeys.DUE_DATE }"
      (click)="setSorting(SortableKeys.DUE_DATE)"
    >
      Due Date
      <span
        *ngIf="activeSorting === SortableKeys.DUE_DATE"
        class="arrow"
        [ngClass]="{ rotated: activeSortDirection === SortDirection.DESC}"
      >
        &#8593;
      </span>
    </button>
    <button
      class="sorting-header"
      [ngClass]="{ active: activeSorting === SortableKeys.DATE_CREATED }"
      (click)="setSorting(SortableKeys.DATE_CREATED)"
    >
      Created Date
      <span
        *ngIf="activeSorting === SortableKeys.DATE_CREATED"
        class="arrow"
        [ngClass]="{ rotated: activeSortDirection === SortDirection.DESC}"
      >
        &#8593;
      </span>
    </button>
    <button
      class="sorting-header"
      [ngClass]="{ active: activeSorting === SortableKeys.TODO }"
      (click)="setSorting(SortableKeys.TODO)"
    >
      Todo label
      <span
        *ngIf="activeSorting === SortableKeys.TODO"
        class="arrow"
        [ngClass]="{ rotated: activeSortDirection === SortDirection.DESC}"
      >
        &#8593;
      </span>
    </button>
  </div>
</div>
<ul class="todos-list">
  <li
    *ngFor="let todo of todos"
    [ngClass]="{ done: todo.isDone }"
    class="todo"
  >
    <a
      [routerLink]="['details/' + todo._id]"
      routerLinkActive="active"
      class="todo-link"
    >
      <div class="todo-data">
        <span class="todo-label">
          <span *ngIf="todo.isDone">&#x2713;</span>
          {{ todo.todo }}
        </span>
        <span
          *ngIf="todo.hasAttachment"
          class="file-link with-tooltip tooltip-bottom"
        >
          <img class="file-icon" src="/assets/paper-clip.svg"/>
        </span>
        <span class="info-row">
          <span class="label">Assigned to:</span>
          <span class="value">{{ todo.username }}</span>
        </span>
        <span class="info-row">
          <span class="label">Created at:</span>
          <span class="value">{{ todo.createdDate | date }}</span>
        </span>
        <span *ngIf="todo.dueDate" class="info-row">
          <span class="label">Due Date:</span>
          <span class="value">{{ todo.dueDate | date }}</span>
        </span>
        <span class="info-row">
          <span class="label">Status:</span>
          <span
            class="value status"
            [ngClass]="{ green: todo.isDone, 'dark-orange': !todo.isDone }">
            {{ todo.isDone ? 'done' : 'pending' }}
          </span>
        </span>
      </div>
    </a>
    <div class="buttons">
      <button
        *ngIf="!todo.isDone"
        class="button done-marker with-tooltip tooltip-left"
        (click)="markAsDone(todo._id)"
      >
        <span>&#x2713;</span>
      </button>
      <button class="button delete-button with-tooltip tooltip-left" (click)="deleteTodo(todo._id)">
        <img class="delete-icon" src="/assets/trash.svg"/>
      </button>
    </div>
  </li>
</ul>
