<ul class="todos-list">
  <li *ngFor="let todo of todos" class="todo" [ngClass]="{ done: todo.isDone }">
    <div class="todo-data" (click)="goToEditTodo(todo._id)">
      <span class="description">
        <span *ngIf="todo.isDone">&#10004;</span>
        {{ todo.todo }}
      </span>
      <span class="user">Assigned to: <b>{{ todo.username }}</b></span>
      <span class="status">Status: <b>{{ todo.isDone ? 'Done' : 'Pending' }}</b></span>
    </div>
    <div class="buttons">
      <button
        *ngIf="!todo.isDone"
        class="button done-marker with-tooltip"
        (click)="markAsDone(todo._id)"
      >
        <span>&#10004;</span>
      </button>
      <button class="button delete-button with-tooltip" (click)="deleteTodo(todo._id)">
        <img class="delete-icon" src="/assets/trash.svg"/>
      </button>
    </div>
  </li>
</ul>
