<div class="todos">
  <div class="todos-wrapper">
    <button
      *ngIf="todos.length === 0"
      class="button"
      (click)="setupInitialData()">
      Setup initial data
    </button>
    <button class="button">
      <a routerLink="/add">
        Add New Todo
      </a>
    </button>
    <ul class="todos-list">
      <li *ngFor="let todo of todos" class="todo" [ngClass]="{ done: todo.isDone }">
        <div class="todo-data" (click)="goToEditTodo(todo._id)">
          <span class="description">
            <span *ngIf="todo.isDone">&#10004;</span>
            {{ todo.todo }}
          </span>
          <span class="user">Assigned to: <b>{{ todo.username }}</b></span>
        </div>
        <div class="buttons">
          <button *ngIf="!todo.isDone" class="button done-marker" (click)="markAsDone(todo._id)">Mark as done</button>
          <button class="button delete-button" (click)="deleteTodo(todo._id)">
            <img class="delete-icon" src="/assets/trash.svg"/>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div class="sidebar">
    <router-outlet></router-outlet>
  </div>
</div>
