@use 'src/styles/vars.scss';

.todos {
  display: flex;
  padding: 30px;
  gap: 30px;
  font-family: vars.$font-family;
  color: vars.$c-grey;

  &-wrapper {
    flex: 1 0 50%;
  }
}

.empty-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 310px;

  .setup-button {
    color: vars.$c-blue;
    border-color: vars.$c-blue;
  }
}

.add-button {
  border: 1px solid vars.$c-grey;
  color: vars.$c-grey;
}

.add-link {
  text-decoration: none;
  font-weight: bold;
  
  &.active {
    .add-button {
      border-color: vars.$c-blue;
      color: vars.$c-blue;
    }
  }
}

