@use 'src/styles/vars.scss';

.main {
  padding: 10px;
}

.header {
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 0;
  padding: 0 10px;
  width: 100%;
}

.todos {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: vars.$font-family;
  color: vars.$c-grey;
  padding-top: 45px;
}

.todos-wrapper {
  position: sticky;
  left: 0;
  flex: 1 0 50%;
  height: calc(100vh - 60px);
  overflow: auto;
}

.sidebar {
  padding: 20px 15px 20px 30px;
}

.empty-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 310px;

  .setup-button {
    color: vars.$c-blue;
    border-color: vars.$c-blue;
  }
}

.add-button {
  border: 0;
  background-color: vars.$c-mediumgreen;
  color: vars.$c-white;
}

.add-link {
  display: inline-block;
  text-decoration: none;
}
