@use 'src/styles/vars.scss';

.main {
  padding: 20px;
}

.header {
  padding-bottom: 20px;
}

.todos {
  display: flex;
  justify-content: space-between;
  font-family: vars.$font-family;
  color: vars.$c-grey;
}

.todos-wrapper {
  flex: 1 0 50%;
}

.sidebar {
  padding: 20px 15px 20px 30px;
}

.empty-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 310px;

  .setup-button {
    color: vars.$c-blue;
    border-color: vars.$c-blue;
  }
}

.add-button {
  border: 0;
  background-color: vars.$c-mediumgreen;
  color: vars.$c-white;
}

.add-link {
  display: inline-block;
  text-decoration: none;
}
