<div class="main">
  <div class="header">
    <a routerLink="/add" class="add-link">
      <button class="button add-button">
        Add New Todo
      </button>
    </a>
  </div>
  <div class="todos">
    <div class="todos-wrapper">
      <ng-container *ngIf="todos.length > 0; else empty">
        <app-todo-list></app-todo-list>
      </ng-container>
    </div>
    <div class="sidebar">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #empty>
  <div class="empty-view">
    <button
      class="button setup-button"
      (click)="setupInitialData()">
      Setup initial data
    </button>
  </div>
</ng-template>
