<div class="todo-details">
  <h6>Todo details</h6>
  <span class="close">
    <a routerLink="/" class="close-link">
      <img class="close-icon" src="/assets/close.svg">
    </a>
  </span>
  <div class="form-wrapper sidebar-content">
    <h3 class="title">{{ todo?.todo }}</h3>
    <ng-container *ngIf="isEditMode; else viewMode">
      <app-form [todo]="todo" (closed)="isEditMode = false"></app-form>
    </ng-container>
    <ng-template #viewMode>
      <div class="todo-details">
        <p class="option">Assignee:
          <span class="username">
            {{ todo?.username }}
          </span>
        </p>
        <p class="option">Status:
          <span [ngClass]="{ green: todo?.isDone }">
            {{ todo?.isDone ? 'done' : 'pending' }}
          </span>
        </p>
        <ng-container *ngIf="todo?.details">
          <p class="filename option">Original attachment file name:
            <span class="label">{{ todo?.originalFileName }}</span>
            <button class="button delete-button with-tooltip" (click)="deleteAttachment()">
              <img class="delete-icon" src="/assets/trash.svg"/>
            </button>
          </p>
          <p>{{ todo?.details }}</p>
        </ng-container>
        <button class="button edit-button with-tooltip" (click)="isEditMode = true">
          <img class="edit-icon" src="/assets/edit.svg" />
        </button>
      </div>
    </ng-template>
  </div>
</div>
