<div class="todo-details">
  <h2>Todo details</h2>
  <div class="close">
    <a routerLink="/" class="close-link">
      <img class="close-icon" src="/assets/close.svg">
    </a>
  </div>
  <div class="form-wrapper">
    <ng-container *ngIf="isEditMode; else viewMode">
      <app-form [todo]="todo"></app-form>
    </ng-container>
    <ng-template #viewMode>
      <div class="todo-details">
        <h3>{{ todo?.todo }}</h3>
        <p *ngIf="todo?.details">{{ todo?.details }}</p>
      </div>
    </ng-template>
  </div>
</div>
