<div class="todo-details">
  <h6>Todo details</h6>
  <span class="close">
    <a routerLink="/" class="close-link">
      <img class="close-icon" src="/assets/close.svg">
    </a>
  </span>
  <div class="form-wrapper sidebar-content">
    <ng-container *ngIf="isEditMode; else viewMode">
      <app-form [todo]="todo"></app-form>
    </ng-container>
    <ng-template #viewMode>
      <div class="todo-details">
        <h3 class="title">{{ todo?.todo }}</h3>
        <p>Assignee:
          <span class="username">
            {{ todo?.username }}
          </span>
        </p>
        <p>Status:
          <span [ngClass]="{ green: todo?.isDone }">
            {{ todo?.isDone ? 'done' : 'pending' }}
          </span>
        </p>
        <p *ngIf="todo?.details">{{ todo?.details }}</p>
      </div>
    </ng-template>
  </div>
</div>
