@use 'src/styles/vars.scss';

.todo-details {
  position: relative;
}

.option {
  font-size: 14px;
}

.username,
.status {
  font-weight: bold;
}

.edit-button {
  padding-left: 0;
  border: 0;

  &::before {
    content: 'Edit Todo';
  }
}

.edit-icon {
  width: 25px;
  height: 25px;
}

.filename {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;

  .label {
    font-weight: bold;
  }
}

.delete-button {
  border: 0;

  &::before {
    content: 'Delete attachment';
  }
}

.delete-icon {
  width: 15px;
  height: 15px;
  object-fit: contain;
  object-position: center;
}

.cancel-button {
  margin-top: 20px;
  color: vars.$c-red;
  border-color: vars.$c-red;
}
