@use './vars.scss';

* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: vars.$font-family;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.title {
  font-size: 30px;
  font-weight: 400;
}

.sidebar-content {
  width: 300px;
}

.with-tooltip {
  position: relative;

  &::before {
    position: absolute;
    top: -22px;
    left: 50%;
    padding: 4px 7px;
    opacity: 0;
    font-size: 12px;
    color: vars.$c-white;
    border-radius: 3px;
    background-color: vars.$c-grey;
    transform: translateX(-50%);
    transition: opacity 0.2s;
    white-space: nowrap;
  }

  &:hover::before {
    opacity: 1;
  }
}

.form-wrapper {
  padding-top: 17px;
}

.button {
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
  background: transparent;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.close {
  position: absolute;
  top: -65px;
  right: 0;

  &-link {
    display: inline-block;
    width: 15px;
    height: 15px;
  }

  &-icon {
    width: 100%;
    height: 100%;
  }
}

.green {
  color: vars.$c-green !important; // NOTE: important is ok here as we explicitly want to override any color from component styles
}
