$c-grey: #626262;
$c-lightgrey: #f1f1f1;
$c-green: #10a810;
$c-dark-orange: #cd8c27;
$c-mediumgreen: #66d366;
$c-lightgreen: #e7f1e7;
$c-red: lightcoral;
$c-white: white;
$c-blue: #2196f3;
$c-white: #fff;

$font-family: Helvetica, sans-serif;
